.Typography {
  text-decoration: none;
}

.box-primary {
  display: flex;
  flex-direction: row;
}

.btn-primary {
  width: 10%;
  position: relative;
  top: 15px;
}

.whithoutOutline {
  outline: none !important;
}

.cta:hover .span:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
