.Typography{
    font-family: monospace;
    color: #000000;
    letter-spacing: 1rem;
    text-decoration: dashed;
    font-weight: 800;
}

.Typography:hover{
    color: #ff0000;
}

.MenuIcon {
    color: #000000;
    border: none;
}

.la{
    background-color: #ff0000;
}