/* Globales */
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  outline: none !important;
}

body {
  color: #000;
}

img {
  max-width: 100%;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
    /* Establece un tamaño mínimo para el contenido principal */
    min-width: 320px; /* Ejemplo de tamaño mínimo */
  }
}