.BoxOne {
  display: flex;
  width: 100%;
}

.Tabs {
  width: 10%;
}

.MuiTabs-flexContainer {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
}

#vertical-tab-1,
#vertical-tab-2,
#vertical-tab-3,
#vertical-tab-4,
#vertical-tab-7,
.MuiListItem-root {
    width: 90%;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 13px;
    color: black;
    letter-spacing: 1px;
}

#vertical-tab-1,
#vertical-tab-2,
#vertical-tab-3,
#vertical-tab-4,
#vertical-tab-7,
.MuiListItem-root:active {
  outline: none !important;
}

.BoxProducts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.MuiTabs-indicator, .css-1aquho2-MuiTabs-indicator {
    background-color: white !important; 
}

.Productos {
    width: 100%;
}

